/* You can add global styles to this file, and also import other style files */

.widgetHeader{
    width: 100%; 
    background: #ddd;
    box-sizing:border-box;
    padding: 10px;
  }
  .widgetHeader .remove a{
    color:red;
    float:right;
  }
  .header{height:30px;}
  
  *.unselectable {
     -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     user-select: none;
  }
  .widget:first-of-type .gridster-item-resizable-handler {
    display:none;
  }
  .widget:first-of-type{background-color:green;}
  .no-resize .gs-resize-handle-both{
  display:none;
  }