.toolbar {
    height: 60px;
    display: flex;
    background: white;
}
.grid {
    display: flex;
    height: calc(100vh - 180px);
    overflow: auto;
    flex: 1 auto;
    background-color: black;
  background-image: linear-gradient(#e2e5ea, #d4d7dc, #e2e5ea);
    width: 100%;
}
.griditem {
    background: white;
    flex: auto;
}
button {
    height: auto;
    width: auto;
    text-align: center;
    margin: 5px;
    display: flex;
}

nb-card-header {
  margin: 2px;
}

